<h1>Gallery</h1>
<%= link_to 'Add a Piece', new_piece_path%>
<p>narrow by: artist, museum, name </p>
<% @pieces.each do |p| %>
<h3><%= link_to p.title, piece_path(p) %></h3><%= p.artist %><br>
<br>
<% end %>